extends ./base.jade
block append style
	link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
	#title
		h1 About
	nav
		.navlink
			a(href="/game") Game
		.navlink
			a(href="/profile") Profile
		.navlink
			a(href="/logout") Log out
	#errorMessage
block scripts