extends ./base.jade
block append style
	link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
	#title
		h1 Game
	nav
		.navlink
			a(href="/profile") Profile
		.navlink
			a(href="/about") About
		.navlink
			a(href="/logout") Log out
	section#game
		a#win(href="#") Win
		a#lose(href="#") Lose
		input#token(type="hidden", name="_csrf", value="#{csrfToken}")
	section#feedback
		p#results You won!
		a#replay(href="#") Play Again
	#errorMessage
block scripts
	script(src="/assets/client.js")