extends ./base.jade
block append style
	link(rel="stylesheet", type="text/css", href="/assets/css/account.css")
block body
	#title
		h1 Login
	nav
		.navlink
			a(href="/signup") Sign up
		.navlink
			a(href="/about") About
	section#login
		form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
			label(for="username") Username: 
			input#user(type="text", name="username", placeholder="username")
			label(for="pass") Password: 
			input#pass(type="password", name="pass", placeholder="password")
			input(type="hidden", name="_csrf", value="#{csrfToken}")
			a#loginSubmit(class="formSubmit", href="#") Sign in
	#errorMessage
block scripts
	script(src="/assets/src/account.js")